@mixin setPosition($left,$top,$x,$y){
    left: $left * 1%;
    top: $top * 1%;
    transform: translate($x * 1%,$y * 1%);
}

@mixin setPositionRotate($left,$top,$x,$y,$rotate){
    left: $left * 1%;
    top: $top * 1%;
    transform: translate($x * 1%,$y * 1%) rotate($rotate*1deg);
}

@mixin diamond{
    transform: rotate(45deg);
}